<%@ Page Language="VB" Debug="true" Trace="false" Description="dotnetCHARTING Component"%>
<%@ Register TagPrefix="dotnet"  Namespace="dotnetCHARTING" Assembly="dotnetCHARTING"%>
<%@ Import Namespace="System.Drawing" %>
<%@ Import Namespace="System.Drawing.Drawing2D" %>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>.netCHARTING Sample</title>
		<script runat="server">


Sub Page_Load(sender As [Object], e As EventArgs)
   ' Set the chart type
   Chart.Type = ChartType.Combo
   ' Set the size
   Chart.Width = Unit.Parse(600)
   Chart.Height = Unit.Parse(350)
   ' Set the temp directory
   Chart.TempDirectory = "temp"
   ' Debug mode. ( Will show generated errors if any )
   Chart.Debug = True
   Chart.Title = "My Chart"
   Chart.ShadingEffectMode = ShadingEffectMode.Two
   
   ' Axis Labels
   Chart.XAxis.Label.Text = "X Axis Label"
   Chart.YAxis.Label.Text = "Y Axis Label"
   
   Chart.MaximumBubbleSize = 80
   Chart.DefaultElement.Transparency = 25
   
   ' *DYNAMIC DATA NOTE* 
   ' This sample uses random data to populate the chart. To populate 
   ' a chart with database data see the following resources:
   ' - Classic samples folder
   ' - Help File > Data Tutorials
   ' - Sample: features/DataEngine.aspx
   Dim mySC As SeriesCollection = getRandomData()
   
   
   mySC(0).Type = SeriesType.Bubble
   mySC(1).Type = SeriesType.Bubble
   mySC(2).Type = SeriesType.Cylinder
   mySC(3).Type = SeriesType.Cylinder
   
   ' Add the random data.
   Chart.SeriesCollection.Add(mySC)
End Sub 'Page_Load
 

Function getRandomData() As SeriesCollection
   Dim SC As New SeriesCollection()
   Dim myR As New Random()
   Dim a As Integer
   For a = 0 To 3
      Dim s As New Series()
      s.Name = "Series " & a
      Dim b As Integer
      For b = 0 To 3
         Dim e As New Element()
         e.Name = "Element " & b
         e.YValue = myR.Next(50)
         e.BubbleSize = myR.Next(50)
         If a < 2 Then
            e.YValue += 80
         End If
         s.Elements.Add(e)
      Next b
      SC.Add(s)
   Next a
   
   ' Set Different Colors for our Series
   SC(0).DefaultElement.Color = Color.FromArgb(49, 255, 49)
   SC(1).DefaultElement.Color = Color.FromArgb(255, 255, 0)
   SC(2).DefaultElement.Color = Color.FromArgb(255, 99, 49)
   SC(3).DefaultElement.Color = Color.FromArgb(0, 156, 255)
   
   Return SC
End Function 'getRandomData
		</script>
	</head>
	<body>
		<div style="text-align:center">
			<dotnet:Chart id="Chart" runat="server" Width="568px" Height="344px">
			</dotnet:Chart>
		</div>
	</body>
</html>
