﻿<%@ Master Language="VB" CodeFile="Main.master.vb" Inherits="Main" %>
<%@ Register Assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    Namespace="System.Web.UI" TagPrefix="asp" %>
<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">  
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Interface - Trillium - GN - PP</title>
    <style type="text/css">
        A:link, A:visited, A:active, A:hover {TEXT-DECORATION:none;} 
        A:visited {color:blue;}
        div
        {
            font-family: Arial;
        }
        tr
        {
	        border-style: solid;
	        border-width: 0px;
	        border-color: Black;	
	        border-collapse: collapse;
        }
   </style>
    <script type="text/javascript">
   function onRequestStart(sender, args)
   {
       if (args.get_eventTarget().indexOf("ExportToExcelButton") >= 0)
           args.set_enableAjax(false);
   }
</script> 
</head>

<body style="background-image: url('images/backgnd.png'); background-repeat: repeat-x; ">
    <form id="form1" runat="server">

    <telerik:RadCodeBlock runat="server" ID="RadCodeBlock1">
        <script src='<%=Page.ResolveUrl("~/Scripts/master.js") %>'></script>
        <script language='javascript'>var img_path = '<%=ResolveURL("~/images/loading.gif")%>';</script>
    </telerik:RadCodeBlock>    


    <div style="text-align:center">
        <asp:ScriptManager ID="ScriptManager1" runat="server" EnablePageMethods="true">
            <Scripts>
                <asp:ScriptReference Name="MicrosoftAjax.js" Path="~/scripts/system.web.extensions/3.5/MicrosoftAjax.js" />
            </Scripts>
        </asp:ScriptManager>

        <asp:Panel ID="Panel1" runat="server" Width="100%" SkinID="panelSection" BorderWidth="1px">  
         <% If Session("role") = "directeur" Then%>  
            <telerik:RadMenu id="rmPrincipal" runat="server" Width="100%" EnableViewState="False" style="left: 0px">
                <Items>
                    <telerik:RadMenuItem runat="server" NavigateUrl="~/index.aspx" Text="Accueil">
                    </telerik:RadMenuItem>
                    <telerik:RadMenuItem runat="server" Text="Menu">
                        <Items>
                            <telerik:RadMenuItem runat="server"  NavigateUrl="gestion.aspx" Text="Gestion des enseignants" ></telerik:RadMenuItem>
                            <telerik:RadMenuItem runat="server" IsSeparator="true" ></telerik:RadMenuItem>
                            <telerik:RadMenuItem runat="server" NavigateUrl="gn_eleve.aspx" Text="Notes par élève" ></telerik:RadMenuItem>
                            <telerik:RadMenuItem runat="server" NavigateUrl="gn2.aspx" Text="Notes par cours/évaluations"></telerik:RadMenuItem>
                            <telerik:RadMenuItem runat="server" NavigateUrl="ee.aspx" Text="Élèves en échec"></telerik:RadMenuItem>
                        </Items>
                    </telerik:RadMenuItem>
                    <telerik:RadMenuItem runat="server" NavigateUrl="~/index.aspx?action=quitter" Text="Quitter">
                    </telerik:RadMenuItem>
                    <telerik:RadMenuItem runat="server" NavigateUrl="http://requetes.csdccs.edu.on.ca/CONSOLE/" Text="?" Target="_blank">
                    </telerik:RadMenuItem>
                </Items>
                <CollapseAnimation Duration="200" Type="OutQuint" />
            </telerik:RadMenu>
        <% end if %>
        
        <% If Session("role") = "enseignant" Then%>
            <telerik:RadMenu id="RadMenu1" runat="server" Width="100%" EnableViewState="False" style="left: 0px">
                <Items>
                    <telerik:RadMenuItem runat="server" NavigateUrl="~/index.aspx" Text="Accueil">
                    </telerik:RadMenuItem>
                    <telerik:RadMenuItem runat="server" Text="Menu">
                        <Items>
                            <telerik:RadMenuItem runat="server" NavigateUrl="gn_eleve.aspx" Text="Notes par élève" ></telerik:RadMenuItem>
                            <telerik:RadMenuItem runat="server" NavigateUrl="gn2.aspx" Text="Notes par cours/évaluations"></telerik:RadMenuItem>
                            <telerik:RadMenuItem runat="server" NavigateUrl="ee.aspx" Text="Élèves en échec"></telerik:RadMenuItem>
                        </Items>
                    </telerik:RadMenuItem>
                    <telerik:RadMenuItem runat="server" NavigateUrl="~/index.aspx?action=quitter" Text="Quitter">
                    </telerik:RadMenuItem>
                    <telerik:RadMenuItem runat="server" NavigateUrl="http://requetes.csdccs.edu.on.ca/CONSOLE/" Text="?" Target="_blank">
                    </telerik:RadMenuItem>
                </Items>
                <CollapseAnimation Duration="200" Type="OutQuint" />
            </telerik:RadMenu>
            <% end if %>
            <% If Session("role") = "administrateur" Then%>
            <telerik:RadMenu id="RadMenu2" runat="server" Width="100%" EnableViewState="False" style="left: 0px">
                <Items>
                    <telerik:RadMenuItem runat="server" NavigateUrl="~/index.aspx" Text="Accueil">
                    </telerik:RadMenuItem>
                    <telerik:RadMenuItem runat="server" Text="Menu">
                        <Items>
                            <telerik:RadMenuItem runat="server"  NavigateUrl="gestion.aspx" Text="Gestion des enseignants"></telerik:RadMenuItem>
                            <telerik:RadMenuItem runat="server" IsSeparator="true" ></telerik:RadMenuItem>
                            <telerik:RadMenuItem runat="server" NavigateUrl="gn_eleve.aspx" Text="Notes par élève" ></telerik:RadMenuItem>
                            <telerik:RadMenuItem runat="server" NavigateUrl="gn2.aspx" Text="Notes par cours/évaluations"></telerik:RadMenuItem>
                            <telerik:RadMenuItem runat="server" NavigateUrl="ee.aspx" Text="Élèves en échec"></telerik:RadMenuItem>
                            <telerik:RadMenuItem runat="server" IsSeparator="true" ></telerik:RadMenuItem>
                            <telerik:RadMenuItem runat="server" NavigateUrl="tril.aspx" Text="Trillium - information des utilisateurs"></telerik:RadMenuItem>
                            <telerik:RadMenuItem runat="server" NavigateUrl="pp.aspx" Text="Portail des parents - information des comptes"></telerik:RadMenuItem>
                            <telerik:RadMenuItem runat="server" NavigateUrl="sms.aspx" Text="SMS - Ordinateurs dans les écoles"></telerik:RadMenuItem>
                        </Items>
                    </telerik:RadMenuItem>
                    <telerik:RadMenuItem runat="server" NavigateUrl="~/index.aspx?action=quitter" Text="Quitter">
                    </telerik:RadMenuItem>
                    <telerik:RadMenuItem runat="server" NavigateUrl="http://requetes.csdccs.edu.on.ca/CONSOLE/" Text="?" Target="_blank">
                    </telerik:RadMenuItem>
                </Items>
                <CollapseAnimation Duration="200" Type="OutQuint" />
            </telerik:RadMenu>
            <% end if %>&nbsp;
            <asp:Panel ID="Panel5" runat="server" Width="100%" SkinID="panelSubHeader">
            <table width="100%">
                <tr>
                    <td> 
                    <table id="mainfrm_tbl2" width="100%" align="center">
                     <% If Session("role") = "administrateur" Then%>
                        <tr>
                        <td>
                        <div align="left">Connecté en tant que : 
                        <% If Session("ID_direction") = "" %> 
                        Veuillez choisir une direction 
                        <% else response.write(Session("NOM_DIR")) %>                    
                        <% end if %>
                        </div>
                        </td>
                        </tr>
                    <% end if %>
                    <tr>
                        <td style="vertical-align:top; width:0px;">
                            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                            </asp:ContentPlaceHolder>
                        </td>
                    </tr>
                    </table>
                    </td>
                </tr>
            </table>
            </asp:Panel>
     
        </asp:Panel>
    </div>
        &nbsp;
        <div align="center"><asp:Label ID="Label1"   Font-Names="Arial" Font-Size="Small" runat="server" SkinID="ContactezNous" Text="Commentaires? Suggestions?" Visible="true" EnableViewState="False">&copy;2010-2011 Tout droits r&eacute;serv&eacute;s &nbsp;&bull;&nbsp; Service Informatique </asp:Label></div>
        <asp:HiddenField ID="flag" runat="server" />                        
        <input id="lienDemandee" type="hidden" name="lienDemandee" />
        <input id="hfClasseIdCopy" type="hidden" name="hfClasseIdCopy" />
<%--        <telerik:RadWindowManager ID="RadWindowManager1" runat="server" Language="fr-FR" style="z-index:15000" Behavior="Default" Behaviors="Resize, Close" ReloadOnShow="True" ShowContentDuringLoad="False" VisibleStatusbar="False">
        </telerik:RadWindowManager>--%>
        
    </form>
</body>
</html>

