<%@ Page Language="VB" Description="dotnetCHARTING Component" %>
<%@ Register TagPrefix="dotnet"  Namespace="dotnetCHARTING" Assembly="dotnetCHARTING"%>
<%@ Import Namespace="System.Drawing" %>
<%@ Import Namespace="System.Drawing.Drawing2D" %>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>.netCHARTING Sample</title>
		<script runat="server">

Sub Page_Load(sender As [Object], e As EventArgs)
   
   Chart.Type = ChartType.Combo
   Chart.Width = Unit.Parse(600)
   Chart.Height = Unit.Parse(350)
   Chart.TempDirectory = "temp"
   Chart.Debug = True
   Chart.DefaultSeries.Type = SeriesType.Line
   Chart.XAxis.Maximum = 3
   
   ' This sample will demonstrate using a shadow axis to mark element values.
   ' *DYNAMIC DATA NOTE* 
   ' This sample uses random data to populate the chart. To populate 
   ' a chart with database data see the following resources:
   ' - Classic samples folder
   ' - Help File > Data Tutorials
   ' - Sample: features/DataEngine.aspx
   Dim mySC As SeriesCollection = getRandomData()
   
   ' Setup the shadow axis.	
   Dim shadow As Axis = Chart.YAxis.Calculate("")
   shadow.Orientation = dotnetCHARTING.Orientation.Right
   shadow.ClearValues = True
   shadow.DefaultTick.GridLine.DashStyle = DashStyle.Dash
   shadow.DefaultTick.GridLine.Color = Color.LawnGreen
   
   
   ' Add a tick to the shadow axis for each element.
   Dim el As Element
   For Each el In  mySC(0).Elements
      shadow.ExtraTicks.Add(New AxisTick(el.YValue))
   Next el
   
   ' Add the shadow axis.
   Chart.AxisCollection.Add(shadow)
   
   ' Add the data.
   Chart.SeriesCollection.Add(mySC)
End Sub 'Page_Load
 


Function getRandomData() As SeriesCollection
   Dim SC As New SeriesCollection()
   Dim myR As New Random(2)
   Dim a As Integer
   For a = 0 To 0
      Dim s As New Series()
      s.Name = "Series " +Convert.ToString(a + 1)
      Dim b As Integer
      For b = 0 To 3
         Dim e As New Element()
         'e.Name = "Element " + Convert.ToString(b+1)
         e.XValue = b
         e.YValue = myR.Next(50)
         s.Elements.Add(e)
      Next b
      SC.Add(s)
   Next a
   
   ' Set Different Colors for our Series
   SC(0).DefaultElement.Color = Color.FromArgb(49, 255, 49)
   'SC[1].DefaultElement.Color = Color.FromArgb(255,255,0);
   'SC[2].DefaultElement.Color = Color.FromArgb(255,99,49);
   'SC[3].DefaultElement.Color = Color.FromArgb(0,156,255);
   Return SC
End Function 'getRandomData


		</script>
	</head>
	<body>
		<div style="text-align:center">
			<dotnet:Chart id="Chart" runat="server" Width="568px" Height="344px">
			</dotnet:Chart>
		</div>
	</body>
</html>
