<%@ Page Language="VB" Description="dotnetCHARTING Component" %>
<%@ Register TagPrefix="dotnet"  Namespace="dotnetCHARTING" Assembly="dotnetCHARTING"%>
<%@ Import Namespace="System.Drawing" %>
<%@ Import Namespace="System.Drawing.Drawing2D" %>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>.netCHARTING Sample</title>
		<script runat="server">

Sub Page_Load(sender As [Object], e As EventArgs)

Chart.Type = ChartType.Combo
Chart.Size = "700x350"
Chart.TempDirectory = "temp"
Chart.FileName = "SaveState"
Chart.Debug = True
Chart.Title = ".netCHARTING Sample"


' This sample demonstrates how to save a chart object to an xml file.
Chart.ChartArea.Label.Text = "This chart is saved to an xml file 'myChart.xml'" + ControlChars.Lf + " and is loaded in sample" + ControlChars.Lf + " LoadState.aspx"

Dim an As New Annotation("Go to the sample that loads the myChart.xml file")

an.URL = "LoadState.aspx"
an.Label.Color = Color.Blue
an.Label.Font = New Font("Arial", 8, FontStyle.Underline)
an.Position = New PointF(590, 130)
Chart.Annotations.Add(an)
' *DYNAMIC DATA NOTE* 
' This sample uses random data to populate the chart. To populate 
' a chart with database data see the following resources:
' - Classic samples folder
' - Help File > Data Tutorials
' - Sample: features/DataEngine.aspx
Dim mySC As SeriesCollection = getRandomData()

' Add the random data.
Chart.SeriesCollection.Add(mySC)

' Save the chart in myChart.xml in the temp directory.
Chart.SaveState("temp/myChart.xml")

End Sub 'Page_Load 
Function getRandomData() As SeriesCollection
   Dim SC As New SeriesCollection()
   Dim myR As New Random(1)
   Dim a As Integer
   For a = 1 To 4
      Dim s As New Series()
      s.Name = "Series " + a.ToString()
      Dim b As Integer
      For b = 1 To 4
         Dim e As New Element()
         e.Name = "Element " + b.ToString()
         e.YValue = myR.Next(50)
         s.Elements.Add(e)
      Next b
      SC.Add(s)
   Next a
   
   ' Set Different Colors for our Series
   SC(0).DefaultElement.Color = Color.FromArgb(49, 255, 49)
   SC(1).DefaultElement.Color = Color.FromArgb(255, 255, 0)
   SC(2).DefaultElement.Color = Color.FromArgb(255, 99, 49)
   SC(3).DefaultElement.Color = Color.FromArgb(0, 156, 255)
   
   Return SC
End Function 'getRandomData

</script>
	</head>
	<body>
		<div style="text-align:center">
			<dotnet:Chart id="Chart" runat="server" Width="568px" Height="344px">
			</dotnet:Chart>
		</div>
	</body>
</html>
